version: '2.2'

services:

  rd-commondata-db:
    build:
      context: database
    image: hmcts/rd-commondata-db
    container_name: rd-commondata-db
    volumes:
      - rd-commondata-db-volume:/var/lib/postgresql/data
    environment:
      - POSTGRES_PASSWORD="${POSTGRES_PASSWORD:-dbcommondata}"
    ports:
      - 5458:5432

volumes:
  rd-commondata-db-volume:
